doctype html
head
    include ../static/head.jade
body
    include ./static/navbar.jade

    div.container
        div.row
            div(class="col-md-8 col-md-offset-2 jumbotron" style="text-align: center;")
                h2="Elystus's Blog"
        div.row
            div(class="col-md-8 col-md-offset-2" id="error-view")
                if msg.err
                    div(class="alert alert-danger", role="alert")
                        | #{msg.err}
                if msg.notfound
                    div(class="alert alert-info", role="alert")
                        | #{msg.notfound}
                if msg.reset
                    div(class="alert alert-success", role="alert")
                        | #{msg.reset}
                        
        if pageData
            each row in pageData
                div.row
                    div(class="col-md-2 col-md-offset-2")
                        p
                            | #{row.date}
                    div(class="col-md-6")
                        a(href="#{appData.url}/page?id=#{row.id}")
                            | #{row.title}

    include ./static/footer.jade
            