nav.navbar.navbar-default
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href="/")= 'Web Exploits'
        ul.nav.navbar-nav.navbar-right
            li
                a(href="#{appData.url}#{appData.nav.brief.url}")
                    | #{appData.nav.brief.name}
            li
                a(href="#{appData.url}#{appData.nav.reset.url}")
                    | #{appData.nav.reset.name}
      