nav.navbar.navbar-default
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href="/")= 'Web Exploits'
        ul.nav.navbar-nav.navbar-right
            li
                a(href="#{appData.url}#{appData.nav.brief.url}")
                    | #{appData.nav.brief.name}
            if isAuth
                li
                    a(href="#{appData.url}#{appData.nav.logout.url}")
                        | #{appData.nav.logout.name}
            else    
                li
                    a(href="#{appData.url}#{appData.nav.login.url}")
                        | #{appData.nav.login.name}
      